<!DOCTYPE html>
<html>
	<body>
		<h1>Join table</h1>
		<form method="POST">
			<input type="hidden" name="join_key" value="{{ join_key }}">
			<input type="text" name="name" placeholder="Your name">
			<button type="submit">Join</button>
		</form>
	</body>
</html>
